Node-REDTestFlow.json
[{"id":"d1596f41.2ea69","type":"http request","name":"","method":"POST","url":"http://130.102.86.134/pins/update","x":418,"y":132,"z":"6bd7d190.94283","wires":[["65e83590.9a17cc"]]},{"id":"65e83590.9a17cc","type":"debug","name":"","active":true,"complete":"false","x":624,"y":137,"z":"6bd7d190.94283","wires":[]},{"id":"926f71f8.6d909","type":"http request","name":"PIN STATES","method":"GET","url":"http://130.102.86.134/pins","x":349,"y":273,"z":"6bd7d190.94283","wires":[["df820fbf.207df"]]},{"id":"e7a62523.1859d8","type":"inject","name":"","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":108,"y":275,"z":"6bd7d190.94283","wires":[["926f71f8.6d909"]]},{"id":"df820fbf.207df","type":"debug","name":"","active":true,"complete":"false","x":609,"y":270,"z":"6bd7d190.94283","wires":[]},{"id":"88be2da3.7741d","type":"exec","command":"curl -v -X POST -d '{\"pin\": 8, \"value\": 1}' 130.102.86.134/pins/update","append":"","useSpawn":"","name":"MANUALLY USE CURL (Terminal)","x":363,"y":60,"z":"6bd7d190.94283","wires":[["8dd51f71.722ae"],["8dd51f71.722ae"],["8dd51f71.722ae"]]},{"id":"125421bb.edabde","type":"inject","name":"","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":113,"y":51,"z":"6bd7d190.94283","wires":[["88be2da3.7741d"]]},{"id":"8dd51f71.722ae","type":"debug","name":"","active":true,"complete":false,"x":616,"y":62,"z":"6bd7d190.94283","wires":[]},{"id":"e40869f3.1bf798","type":"function","name":"LED ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nmsg.payload = '{\"pin\": 8, \"value\": 1 }'\nmsg.headers = {'Content-Length': 22}\n\nreturn msg;","outputs":1,"x":241,"y":129,"z":"6bd7d190.94283","wires":[["d1596f41.2ea69"]]},{"id":"d1cd5317.2e32b","type":"inject","name":"","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":108,"y":128,"z":"6bd7d190.94283","wires":[["e40869f3.1bf798"]]},{"id":"f14a244d.0eb5d8","type":"http request","name":"","method":"POST","url":"http://130.102.86.134/pins/update","x":419,"y":193,"z":"6bd7d190.94283","wires":[["2c556aa8.d3aa96"]]},{"id":"2c556aa8.d3aa96","type":"debug","name":"","active":true,"complete":"false","x":625,"y":198,"z":"6bd7d190.94283","wires":[]},{"id":"2593bfb1.da6c4","type":"function","name":"LED OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nmsg.payload = '{\"pin\": 8, \"value\": 0 }'\nmsg.headers = {'Content-Length': 22}\n\nreturn msg;","outputs":1,"x":242,"y":190,"z":"6bd7d190.94283","wires":[["f14a244d.0eb5d8"]]},{"id":"7f4f6bc3.80b094","type":"inject","name":"","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":109,"y":189,"z":"6bd7d190.94283","wires":[["2593bfb1.da6c4"]]},{"id":"61a88f1d.9e577","type":"http in","name":"","url":"/testLEDoff","method":"get","x":113,"y":361,"z":"6bd7d190.94283","wires":[["1b7ee780.e48118"]]},{"id":"ed657faf.129a8","type":"http in","name":"","url":"/testLEDon","method":"get","x":120,"y":436,"z":"6bd7d190.94283","wires":[["97e31553.681ce8"]]},{"id":"1bf9bb67.e40645","type":"http in","name":"","url":"/testLEDstate","method":"get","x":116,"y":497,"z":"6bd7d190.94283","wires":[["5f0a11f.fa0f5f"]]},{"id":"f0b75d7a.0f48a","type":"http request","name":"","method":"POST","url":"http://130.102.86.134/pins/update","x":428,"y":365,"z":"6bd7d190.94283","wires":[["89afca7.f765038","2ab8721e.d5478e"]]},{"id":"89afca7.f765038","type":"debug","name":"","active":true,"complete":"true","x":643,"y":388,"z":"6bd7d190.94283","wires":[]},{"id":"5f0a11f.fa0f5f","type":"http request","name":"PIN STATES","method":"GET","url":"http://130.102.86.134/pins","x":323,"y":495,"z":"6bd7d190.94283","wires":[["8af5143c.750ae8","c177de70.3e882"]]},{"id":"8af5143c.750ae8","type":"debug","name":"","active":true,"complete":"true","x":569,"y":538,"z":"6bd7d190.94283","wires":[]},{"id":"1b7ee780.e48118","type":"function","name":"LED ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nmsg.payload = '{\"pin\": 8, \"value\": 1 }'\nmsg.headers = {'Content-Length': 22}\n\nreturn msg;","outputs":1,"x":274,"y":365,"z":"6bd7d190.94283","wires":[["f0b75d7a.0f48a"]]},{"id":"f4bcfeea.0b43","type":"http request","name":"","method":"POST","url":"http://130.102.86.134/pins/update","x":429,"y":426,"z":"6bd7d190.94283","wires":[["bbd8285c.4427d8","65771835.9a88e8"]]},{"id":"bbd8285c.4427d8","type":"debug","name":"","active":true,"complete":"true","x":644,"y":473,"z":"6bd7d190.94283","wires":[]},{"id":"97e31553.681ce8","type":"function","name":"LED OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nmsg.payload = '{\"pin\": 8, \"value\": 0 }'\nmsg.headers = {'Content-Length': 22}\n\nreturn msg;","outputs":1,"x":272,"y":433,"z":"6bd7d190.94283","wires":[["f4bcfeea.0b43"]]},{"id":"2ab8721e.d5478e","type":"http response","name":"","x":610,"y":349,"z":"6bd7d190.94283","wires":[]},{"id":"c177de70.3e882","type":"http response","name":"","x":504,"y":492,"z":"6bd7d190.94283","wires":[]},{"id":"65771835.9a88e8","type":"http response","name":"","x":608,"y":430,"z":"6bd7d190.94283","wires":[]}]
